.datagrid-header{
    background-color: white;
    /* color:#101d66; */
    font-weight: 1000;
    font-size: larger;
}
/* .MuiDataGrid-renderingZone{
    background-color:#e5f4fd
} */
.MuiDataGrid-window {
    background-color:white
}
.MuiDataGrid-cell{
    background-color:white
}
.MuiDataGrid-footerContainer{
    background-color:white
}